@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  background-color: hsl(185, 75%, 39%);
}


/* Card */
.master-flex {
  display: flex;
  justify-content: center;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  background-image: url('images/bg-pattern-card.svg');
}

.card-wrapper img {
  position:relative;
  border-radius: 50%;
  top:50px;
  z-index: 1
}

.card-contents {
  position: relative;
  background-color: whitesmoke;
  width: 400px;
}

.card-title {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 20px;
}

.card-body {
  position: ;
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.scores {
  font-weight: 700;
}

.abstract-image {
  z-index: -1;
}

.attribution {
  display: block;
  font-size: 11px;
  position: absolute;
  bottom: 10px;
  width: 100vw;
  text-align: center;
  
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.top {
  position: absolute;
  top: -400px;
  left: -400px
}

.btm {
  position: absolute;
  bottom: -400px;
  right: -400px;
}